/* Plugin CSS */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.videos-container{
    width: 100%;
    font-family: 'Muli', sans-serif !important;
}
.video {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	margin: 30px 0;
	overflow: hidden;
}
.video h3 {
    font-family: 'Muli', sans-serif !important;
    font-size: 1.17em;
    line-height: 1.6;
    font-weight: 600;
	letter-spacing: 1px;
	margin: 10px 0;
}
.video h6 {
    font-size: 0.8em;
	margin: 10px 0 !important;
}

.video-title {
	background-color: #2A265F;
	color: #fff;
	padding: 20px;
}
.video-info {
	padding: 30px;
	position: relative;
}
.video-info h6{
	opacity: 0.6;
	margin: 0;
    text-transform: none;
}
